* {
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  vertical-align:top;
}
body{
  /* background:#000; */
}

#select-midi-output-ch,#select-midi-output-device{
  font-size: 10px;
  color: #999;
  border-radius: 0;
  border: none;
  height: 30px;
  /* background:#000 */
}
#select-midi-output-ch:hover,#select-midi-output-device:hover{
  color:#666;
}

/* #slider-box{
  margin:auto;
  display:table;
} */

/* //////////////////// */

#slider-box{
  display:inline-block;
  margin-top: 4px;
}


.comment{
  padding:4px 0;
  background:#eee;
  font-size: 11px;
  width:600px;
  margin-bottom:8px;
  color:#666;
  /* border-bottom:solid 1px #aaa */
}

.slide-container{
  display:table;
  table-layout:fixed;
  width:600px;
  margin: 1px;
}
.label{
  display:table-cell;
  width:40px;
  font-size: 11px;
}
.display{
  display:table-cell;  
  width:40px;
  text-align: right;
  padding-right:30px;
  font-size: 11px;
  
  
}
.slider{
  display:table-cell; 
}


#slider-box .noUi-target{
  box-shadow:initial
}
#slider-box .noUi-horizontal .noUi-handle{
  height:18px;
  top:-1px;
  box-shadow: initial;
}
#slider-box .noUi-handle:before, #slider-box .noUi-handle:after{
  top:4px;
  height:8px
}

.active, .noUi-connect {
  background:#0cd
}
